<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .addition{
        margin-left:33rem;
        margin-top: 10rem;
        border: 2px solid blue;
        width: 15rem;
        padding-left: 25px;
        padding-bottom: 15px;
    }
    h2{
        color: blue;
        margin-left: 20px;
    }
    

    </style>
</head>
<body>
       <form method="post">
        <div class="addition">
        <h2>ADD_USERS</h2>
        <input type="text" name="name" placeholder="ENTER THE NAME"><br><br>
        <input type="integer" name="fund" placeholder="ENTER THE FUNDHOUSE"><br><br>
        <input type="integer" name="invested" placeholder="ENTER THE INVESTED_AMOUNT"><br><br>
        <input type="integer" name="unit" placeholder="ENTER THE UNIT_HELD"><br><br>
        <input type="submit" value="submit">
        </div>
    </form>

</body>
</html>